<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="File_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="File_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <File_Manager.Properties.Settings>
            <setting name="QualityNotQuantity" serializeAs="String">
                <value>True</value>
            </setting>
        </File_Manager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <File_Manager.Properties.Settings>
            <setting name="QualityNotQuantity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1046, 679</value>
            </setting>
            <setting name="Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </File_Manager.Properties.Settings>
    </userSettings>
</configuration>